html body {
  background: rgba(172, 182, 229, 0.45); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(172, 182, 229, 0.45),
    rgba(116, 235, 213, 0.45)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(172, 182, 229, 0.45),
    rgba(116, 235, 213, 0.45)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Montserrat", sans-serif;
}

// Navbar-Stil
.navbar {
  margin-bottom: 15px;
  background: #74ebd5 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .navbar-brand {
    color: #000; // Textfarbe des Markenlogos
    &:hover {
      color: #555; // Textfarbe des Markenlogos bei Hover
    }
  }
  .navbar-nav {
    .nav-link {
      color: #000; // Textfarbe des Links
      &:hover {
        color: #555; // Textfarbe des Links bei Hover
      }
    }
  }
}

// Footer-Stil
.footer {
  background: #74ebd5 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-top: 1px solid rgba(0, 0, 0, 0.1); // Schwarzer 1-Pixel-Strich am oberen Rand
  color: #000; // Textfarbe
}

.container-fluid {
  .carousel-item {
    height: 100vh;
  }

  .carousel-inner {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .typewriter {
    background-color: #000;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #0f0;
    font-family: monospace;
    text-align: left;
    padding: 1rem; // Abstand zwischen dem Text und dem Hintergrund
    h1 {
      overflow: hidden;
      border-right: 0.15em solid #0f0;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }
  }
}

.card {
  margin: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0f0;
  }
}

#scrollButton {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  z-index: 12;
  background-color: rgba(172, 182, 229, 0.45);
  border: none;
  border-radius: 100%;
}

#scrollButton i {
  color: #fff;
  font-size: 2em;
}
